.sidebar li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar.close {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: rgb(45,45,45);
    color: white;
    padding: 20px;
    transition: 0.3s ease-in-out;
    transform: translateX(0);
}
   
.sidebar.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100%;
    background-color: rgb(45,45,45);
    color: white;
    padding: 20px;
    transition: 0.3s ease-in-out;
    transform: translateX(0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icon {
    padding: 20px;
    cursor: pointer;
    color: white;
}
.sidebar span{
    color: white;
    text-decoration: none;
}